.grid{
    display: grid;
    grid-template-columns: 1fr 2fr;
    text-align: justify;
}
.box-1{
    width: 410px; height:auto;
    background-color:   #F79028;
    text-align: justify;
    opacity: 0.8;
}
.nombre{
    margin-left: 20px;
    text-align: center;
}
img{
    width: 195px;
    height: 155px;
    display: block;
    margin: 0 auto;
}
.foto{
    margin-left: 20px;
    text-align: justify;
}

.gmail{
    margin-left: 20px;
    text-align: justify;
    padding: 15px;
}
.numero{
    margin-left: 20px;
    text-align: justify;
    padding: 15px;
}
.estudios{
    margin-left: 20px;
    text-align: justify;
    padding: 15px;
}
.linkedin{
    margin-left: 20px;
    text-align: justify;
    padding: 15px;
}
.direccion{
    margin-left: 20px;
    padding: 15px;
}
.sobremi{
    font-family: 'Geologica', sans-serif;
    margin-right: 80px;
    text-align: justify; 
    padding: 10px;
    
}
.lugardestudio{
    font-family: 'Geologica', sans-serif;
    margin-right: 80px;
    text-align: justify;
}
.experiencia{
    font-family: 'Geologica', sans-serif;
    margin-right: 80px;
    text-align: justify;
    
    
}

.about{
    font-family: 'Geologica', sans-serif;
}

.experience{
    font-family: 'Geologica', sans-serif;
    
}


.education{
    font-family: 'Geologica', sans-serif;
}




.asd{
    font-family: 'Geologica', sans-serif;
}